@model IEnumerable<Lab03.Models.Inventory>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<style>

    a {
        text-decoration: none;
    }

    h3 {
        color: #f2f2f2;
    }

    .section-header {
        background-color: #59AB6E;
        padding-top: 11px;
        padding-bottom: 1px;
        padding-left: 30px;
        border-radius: 5px;
        margin-top: -10px;
        margin-left: -31px;
        margin-right: -31px;
    }







    /* Product Card */
    .product-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        padding: 15px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
        text-align: center;
    }

        .product-card .product-badge {
            position: absolute;
            top: 0px;
            left: -1px;
            padding: 5px 10px;
            font-size: 12px;
            color: #fff;
            border-radius: 4px;
            background-color: #020202a3;
        }

        .product-card img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
            border-radius: 8px;
        }



    .product-details .badge.hot {
        background-color: #dc3545;
    }

    .product-title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
    }

    .product-rating {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 12px;
        margin-bottom: 10px;
        color: #666;
    }

        .product-rating .stars {
            color: #ffc107;
        }

    .product-price {
        font-size: 16px;
        font-weight: bold;
        color: #dc3545;
        margin-bottom: 10px;
    }

        .product-price .old-price {
            font-size: 12px;
            color: #999;
            text-decoration: line-through;
            margin-left: 5px;
        }

    .product-info {
        font-size: 12px;
        color: #666;
    }

    .featured-products-section {
        border: 1px solid #ddd; /* Viền xám nhạt */
        border-radius: 8px; /* Bo góc */
        padding-top: 10px; /* Khoảng cách bên trong */
        background-color: #fff; /* Nền trắng */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
        margin-bottom: 30px; /* Khoảng cách dưới */
        margin-right: 80px;
        margin-left: 80px;
    }

    .new-price {
        font-weight: bold;
    }







    .product-carousel-control-prev {
        background: transparent;
        border: none;
        margin-left: -45px;
        left: -63px;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        color: #fff;
        text-align: center;
        opacity: .5;
        transition: opacity .15s ease;
    }

    .product-carousel-control-next {
        background: transparent;
        border: none;
        margin-left: -45px;
        right: -110px;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        color: #fff;
        text-align: center;
        opacity: .5;
        transition: opacity .15s ease;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        border-radius: 5px;
        background-color: #999999;
        width: 2rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
    }



    /* Toast container */
    .toast-container {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1050;
        max-width: 300px;
    }

    .toast-custom {
        background-color: #28a745;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

        .toast-custom.show {
            opacity: 1;
            transform: translateY(0);
        }

</style>


<!--Modal thành công-->
@if (TempData["SuccessMessage"] != null)
{
    <div class="toast-container">
        <div id="successToast" class="toast-custom">
            <div class="toast-body">
                @TempData["SuccessMessage"]
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            var successToast = new bootstrap.Toast(document.getElementById('successToast'), {
                delay: 2500 // Thời gian hiển thị (2.5 giây)
            });
            successToast.show();
        };
    </script>
}



<script>
    // Hiển thị Toast Modal thành công
    function showToast() {
        var toast = document.getElementById('successToast');
        toast.classList.remove('hidden');
        toast.classList.add('show');

        // Tự động ẩn sau 3 giây
        setTimeout(function () {
            toast.classList.remove('show');
            toast.classList.add('hidden');
        }, 3000);
    }

    // Kích hoạt khi có TempData["SuccessMessage"]
    window.onload = function () {
        if (@TempData["SuccessMessage"] != null) {
            showToast();
        }
    };
</script>




<div class="container py-5">
    <div class="row">
        <div class="col-lg-3" style="margin-bottom: 50px;">
            @using (Html.BeginForm("Index", "inventory", FormMethod.Get))
            {
                <div class="input-group box_sd">
                    @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Tìm sản phẩm..." })
                    <button type="submit" class="btn btn-primary" style="border-radius: 5px; margin-left:20px">Tìm kiếm</button>
                </div>
            }
        </div>

        <div class="col-lg-3" style="margin-bottom: 50px;">
            @await Component.InvokeAsync("Category")
        </div>
    </div>
</div>







<section class="featured-products-section">
    <div class="container">

        <div class="section-header">
            <h3 class="section-title">
                <i class="fab fa-apple"></i> Tất cả sản phẩm
            </h3>
        </div>


        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var (productGroup, index) in Model.Chunk(4).Select((value, i) => (value, i)))
                {
                    <div class="carousel-item @(index == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var product in productGroup)
                            {
                                <!-- Single Product -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <a href="@Url.Action("Display", "Inventory", new { inventoryId = product.Id })">
                                        <div class="product-card">
                                            <div class="product-badge discount">Giảm 60,000 đ</div>

                                            @if (product.SupplierProduct?.ProductImages?.Any() == true)
                                            {
                                                <img id="mainImage" src="@product.SupplierProduct.ProductImages.First().Url" class="img-fluid" alt="Hình ảnh sản phẩm chính" />
                                            }
                                            else
                                            {
                                                <p>Không có hình ảnh sản phẩm chính</p>
                                            }

                                            <div class="product-details">
                                                <span class="badge hot">Hàng Hot</span>
                                                <h5 class="product-title"> @product.SupplierProduct?.ProductName</h5>
                                                <div class="product-rating">
                                                    <span class="stars">★★★★★</span>
                                                    <span class="reviews">(10 đánh giá)</span>
                                                </div>
                                                <p class="product-price">@String.Format("{0:#,##0}", product.SellingPrice) đ<span class="old-price">550,000 đ</span></p>
                                                <div class="product-info">
                                                    <span>Bảo hành: 12 tháng</span>
                                                    <span>Cam kết 100% chính hãng</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-left:-112px;">
                <span class="carousel-control-prev-icon" aria-hidden="true" "=" "></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-right:-112px;">
                <span class="carousel-control-next-icon" aria-hidden="true" "=" "></span>
            </button>
        </div>













        <!-- Section Title -->
        <div class="section-header">
            <h3 class="section-title">
                <i class="fab fa-apple"></i> Iphone Chính Hãng
            </h3>
        </div>
        <!-- Carousel: Featured Products (4 products per slide) -->
        <div id="productIphoneCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var (productGroup, index) in Model.Where(p => p.SupplierProduct.Category.Name == "Iphone").Chunk(4).Select((value, i) => (value, i)))
                {
                    <div class="carousel-item @(index == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var product in productGroup)
                            {
                                <!-- Single Product -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <a href="@Url.Action("Display", "Inventory", new { inventoryId = product.Id })">
                                        <div class="product-card">
                                            <div class="product-badge discount">Giảm 60,000 đ</div>

                                            @if (product.SupplierProduct?.ProductImages?.Any() == true)
                                            {
                                                <img id="mainImage" src="@product.SupplierProduct.ProductImages.First().Url" class="img-fluid" alt="Hình ảnh sản phẩm chính" />
                                            }
                                            else
                                            {
                                                <p>Không có hình ảnh sản phẩm chính</p>
                                            }

                                            <div class="product-details">
                                                <span class="badge hot">Hàng Hot</span>
                                                <h5 class="product-title"> @product.SupplierProduct?.ProductName</h5>
                                                <div class="product-rating">
                                                    <span class="stars">★★★★★</span>
                                                    <span class="reviews">(10 đánh giá)</span>
                                                </div>
                                                <p class="product-price">@String.Format("{0:#,##0}", product.SellingPrice) đ<span class="old-price">550,000 đ</span></p>
                                                <div class="product-info">
                                                    <span>Bảo hành: 12 tháng</span>
                                                    <span>Cam kết 100% chính hãng</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productIphoneCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-left:-112px;">
                <span class="carousel-control-prev-icon" aria-hidden="true" "=" "></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productIphoneCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-right:-112px;">
                <span class="carousel-control-next-icon" aria-hidden="true" "=" "></span>
            </button>
        </div>
        <!-- Product List IPAD -->
        <div class="section-header">
            <h3 class="section-title">
                <i class="fa-solid fa-tablet-screen-button"></i> IPad
            </h3>
        </div>
        <div id="IPadCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var (productGroup, index) in Model.Where(p => p.SupplierProduct.Category.Name == "IPad").Chunk(4).Select((value, i) => (value, i)))
                {
                    <div class="carousel-item @(index == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var product in productGroup)
                            {
                                <!-- Single Product -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <a href="@Url.Action("Display", "Inventory", new { inventoryId = product.Id })">
                                        <div class="product-card">
                                            <div class="product-badge discount">Giảm 60,000 đ</div>

                                            @if (product.SupplierProduct?.ProductImages?.Any() == true)
                                            {
                                                <img id="mainImage" src="@product.SupplierProduct.ProductImages.First().Url" class="img-fluid" alt="Hình ảnh sản phẩm chính" />
                                            }
                                            else
                                            {
                                                <p>Không có hình ảnh sản phẩm chính</p>
                                            }

                                            <div class="product-details">
                                                <span class="badge hot">Hàng Hot</span>
                                                <h5 class="product-title"> @product.SupplierProduct?.ProductName</h5>
                                                <div class="product-rating">
                                                    <span class="stars">★★★★★</span>
                                                    <span class="reviews">(10 đánh giá)</span>
                                                </div>
                                                <p class="product-price">@String.Format("{0:#,##0}", product.SellingPrice) đ<span class="old-price">550,000 đ</span></p>
                                                <div class="product-info">
                                                    <span>Bảo hành: 12 tháng</span>
                                                    <span>Cam kết 100% chính hãng</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#IPadCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-left:-112px;">
                <span class="carousel-control-prev-icon" aria-hidden="true" "=" "></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#IPadCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-right:-112px;">
                <span class="carousel-control-next-icon" aria-hidden="true" "=" "></span>
            </button>
        </div>


        <div class="section-header">
            <h3 class="section-title">
                <i class="fas fa-laptop"></i> Macbook
            </h3>
        </div>

        <!-- Product List -->
        <div id="MacBookCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var (productGroup, index) in Model.Where(p => p.SupplierProduct.Category.Name == "MacBook").Chunk(4).Select((value, i) => (value, i)))
                {
                    <div class="carousel-item @(index == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var product in productGroup)
                            {
                                <!-- Single Product -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <a href="@Url.Action("Display", "Inventory", new { inventoryId = product.Id })">
                                        <div class="product-card">
                                            <div class="product-badge discount">Giảm 60,000 đ</div>

                                            @if (product.SupplierProduct?.ProductImages?.Any() == true)
                                            {
                                                <img id="mainImage" src="@product.SupplierProduct.ProductImages.First().Url" class="img-fluid" alt="Hình ảnh sản phẩm chính" />
                                            }
                                            else
                                            {
                                                <p>Không có hình ảnh sản phẩm chính</p>
                                            }

                                            <div class="product-details">
                                                <span class="badge hot">Hàng Hot</span>
                                                <h5 class="product-title"> @product.SupplierProduct?.ProductName</h5>
                                                <div class="product-rating">
                                                    <span class="stars">★★★★★</span>
                                                    <span class="reviews">(10 đánh giá)</span>
                                                </div>
                                                <p class="product-price">@String.Format("{0:#,##0}", product.SellingPrice) đ<span class="old-price">550,000 đ</span></p>
                                                <div class="product-info">
                                                    <span>Bảo hành: 12 tháng</span>
                                                    <span>Cam kết 100% chính hãng</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#MacBookCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-left:-112px;">
                <span class="carousel-control-prev-icon" aria-hidden="true" "=" "></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#MacBookCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-right:-112px;">
                <span class="carousel-control-next-icon" aria-hidden="true" "=" "></span>
            </button>
        </div>

        <!-- Product List -->
        <div class="section-header">
            <h3 class="section-title">
                <i class="fas fa-headphones-alt"></i>Airpod chính hãng
            </h3>
        </div>
        <div id="AirPodsCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var (productGroup, index) in Model.Where(p => p.SupplierProduct.Category.Name == "AirPods").Chunk(4).Select((value, i) => (value, i)))
                {
                    <div class="carousel-item @(index == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var product in productGroup)
                            {
                                <!-- Single Product -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <a href="@Url.Action("Display", "Inventory", new { inventoryId = product.Id })">
                                        <div class="product-card">
                                            <div class="product-badge discount">Giảm 60,000 đ</div>

                                            @if (product.SupplierProduct?.ProductImages?.Any() == true)
                                            {
                                                <img id="mainImage" src="@product.SupplierProduct.ProductImages.First().Url" class="img-fluid" alt="Hình ảnh sản phẩm chính" />
                                            }
                                            else
                                            {
                                                <p>Không có hình ảnh sản phẩm chính</p>
                                            }

                                            <div class="product-details">
                                                <span class="badge hot">Hàng Hot</span>
                                                <h5 class="product-title"> @product.SupplierProduct?.ProductName</h5>
                                                <div class="product-rating">
                                                    <span class="stars">★★★★★</span>
                                                    <span class="reviews">(10 đánh giá)</span>
                                                </div>
                                                <p class="product-price">@String.Format("{0:#,##0}", product.SellingPrice) đ<span class="old-price">550,000 đ</span></p>
                                                <div class="product-info">
                                                    <span>Bảo hành: 12 tháng</span>
                                                    <span>Cam kết 100% chính hãng</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#AirPodsCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-left:-112px;">
                <span class="carousel-control-prev-icon" aria-hidden="true" "=" "></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#AirPodsCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-right:-112px;">
                <span class="carousel-control-next-icon" aria-hidden="true" "=" "></span>
            </button>
        </div>








        <div class="section-header">
            <h3 class="section-title">
                <i class="fas fa-stopwatch"></i> Apple Watch
            </h3>
        </div>
        <!-- Product List -->
        <div id="AppleWatchCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var (productGroup, index) in Model.Where(p => p.SupplierProduct.Category.Name == "Apple Watch").Chunk(4).Select((value, i) => (value, i)))
                {
                    <div class="carousel-item @(index == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var product in productGroup)
                            {
                                <!-- Single Product -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <a href="@Url.Action("Display", "Inventory", new { inventoryId = product.Id })">
                                        <div class="product-card">
                                            <div class="product-badge discount">Giảm 60,000 đ</div>

                                            @if (product.SupplierProduct?.ProductImages?.Any() == true)
                                            {
                                                <img id="mainImage" src="@product.SupplierProduct.ProductImages.First().Url" class="img-fluid" alt="Hình ảnh sản phẩm chính" />
                                            }
                                            else
                                            {
                                                <p>Không có hình ảnh sản phẩm chính</p>
                                            }

                                            <div class="product-details">
                                                <span class="badge hot">Hàng Hot</span>
                                                <h5 class="product-title"> @product.SupplierProduct?.ProductName</h5>
                                                <div class="product-rating">
                                                    <span class="stars">★★★★★</span>
                                                    <span class="reviews">(10 đánh giá)</span>
                                                </div>
                                                <p class="product-price">@String.Format("{0:#,##0}", product.SellingPrice) đ<span class="old-price">550,000 đ</span></p>
                                                <div class="product-info">
                                                    <span>Bảo hành: 12 tháng</span>
                                                    <span>Cam kết 100% chính hãng</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#AppleWatchCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-left:-112px;">
                <span class="carousel-control-prev-icon" aria-hidden="true" "=" "></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#AppleWatchCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-right:-112px;">
                <span class="carousel-control-next-icon" aria-hidden="true" "=" "></span>
            </button>
        </div>








    </div>
</section>











@* <section class="featured-products-section">
    <div class="container">
        <!-- Section Title -->
        <div class="section-header">
            <h3 class="section-title">
                <i class="fas fa-headphones-alt"></i>Airpod chính hãng
            </h3>
        </div>
        <!-- Product List -->
        <div id="AirPodsCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var (productGroup, index) in Model.Where(p => p.SupplierProduct.Category.Name == "AirPods").Chunk(4).Select((value, i) => (value, i)))
                {
                    <div class="carousel-item @(index == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var product in productGroup)
                            {
                                <!-- Single Product -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <a href="@Url.Action("Display", "Inventory", new { inventoryId = product.Id })">
                                        <div class="product-card">
                                            <div class="product-badge discount">Giảm 60,000 đ</div>

                                            @if (product.SupplierProduct?.ProductImages?.Any() == true)
                                            {
                                                <img id="mainImage" src="@product.SupplierProduct.ProductImages.First().Url" class="img-fluid" alt="Hình ảnh sản phẩm chính" />
                                            }
                                            else
                                            {
                                                <p>Không có hình ảnh sản phẩm chính</p>
                                            }

                                            <div class="product-details">
                                                <span class="badge hot">Hàng Hot</span>
                                                <h5 class="product-title"> @product.SupplierProduct?.ProductName</h5>
                                                <div class="product-rating">
                                                    <span class="stars">★★★★★</span>
                                                    <span class="reviews">(10 đánh giá)</span>
                                                </div>
                                                <p class="product-price">@String.Format("{0:#,##0}", product.SellingPrice) đ<span class="old-price">550,000 đ</span></p>
                                                <div class="product-info">
                                                    <span>Bảo hành: 12 tháng</span>
                                                    <span>Cam kết 100% chính hãng</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#AirPodsCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-left:-112px;">
                <span class="carousel-control-prev-icon" aria-hidden="true" "=" "></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#AirPodsCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-right:-112px;">
                <span class="carousel-control-next-icon" aria-hidden="true" "=" "></span>
            </button>
        </div>

    </div>
</section> *@



@* <div class="container">
    <div class="row">
        <div id="AirPodsCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var (productGroup, index) in Model.Where(p => p.SupplierProduct.Category.Name == "AirPods").Chunk(4).Select((value, i) => (value, i)))
                {
                    <div class="carousel-item @(index == 0 ? "active" : "")">
                        <div class="row">
                            @foreach (var product in productGroup)
                            {
                                <!-- Single Product -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <a href="@Url.Action("Display", "Inventory", new { inventoryId = product.Id })">
                                        <div class="product-card">
                                            <div class="product-badge discount">Giảm 60,000 đ</div>

                                            @if (product.SupplierProduct?.ProductImages?.Any() == true)
                                            {
                                                <img id="mainImage" src="@product.SupplierProduct.ProductImages.First().Url" class="img-fluid" alt="Hình ảnh sản phẩm chính" />
                                            }
                                            else
                                            {
                                                <p>Không có hình ảnh sản phẩm chính</p>
                                            }

                                            <div class="product-details">
                                                <span class="badge hot">Hàng Hot</span>
                                                <h5 class="product-title"> @product.SupplierProduct?.ProductName</h5>
                                                <div class="product-rating">
                                                    <span class="stars">★★★★★</span>
                                                    <span class="reviews">(10 đánh giá)</span>
                                                </div>
                                                <p class="product-price">@String.Format("{0:#,##0}", product.SellingPrice) đ<span class="old-price">550,000 đ</span></p>
                                                <div class="product-info">
                                                    <span>Bảo hành: 12 tháng</span>
                                                    <span>Cam kết 100% chính hãng</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#AirPodsCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-left:-108px;">
                <span class="carousel-control-prev-icon" aria-hidden="true" "=" "></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#AirPodsCarousel" data-bs-slide="next" style="background: transparent; border: none;margin-right:-109px;">
                <span class="carousel-control-next-icon" aria-hidden="true" "=" "></span>
            </button>
        </div>
    </div>
</div> *@
















@* <div class="container">
    <div class="row">
        <h3 class="section-title">
            <i class="fab fa-apple"></i> Iphone Chính Hãng
        </h3>
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-6 mb-4">

                <a asp-action="Display" asp-route-inventoryId="@product.Id">
                    <div class="product-card">
                        <div class="product-badge discount">Giảm 60,000 đ</div>
                        @if (product.SupplierProduct?.ProductImages?.Any() == true)
                        {
                            <img id="mainImage" src="@product.SupplierProduct.ProductImages.First().Url" class="img-fluid rounded mb-3" alt="Hình ảnh sản phẩm chính" />
                        }
                        else
                        {
                            <p>Không có hình ảnh sản phẩm chính</p>
                        }
                        <div class="product-details">
                            <span class="badge hot">Hàng Hot</span>
                            <h5 style="font-weight: bold; color: black;">@product.SupplierProduct.ProductName</h5>
                            <div class="product-rating">
                                <span class="stars">★★★★★</span>
                                <span class="reviews">(10 đánh giá)</span>
                            </div>
                            <p class="product-price">
                                <span class="new-price">@String.Format("{0:#,##0}", product.SellingPrice) VNĐ</span>
                                <span class="old-price">550,000 đ</span>
                            </p>
                            <div class="product-info">
                                <span>Bảo hành: 12 tháng</span>
                                <span>Cam kết 100% chính hãng</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        }
    </div>
</div> *@
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#success-alert').fadeOut('slow');
            }, 3000);
        });
    </script>
}


<!-- Scripts để hiển thị modal -->
<script src="~/vendors/js/vendor.bundle.base.js"></script>
<script src="~/js/off-canvas.js"></script>
<script src="~/js/hoverable-collapse.js"></script>
<script src="~/js/template.js"></script>
<script src="~/js/settings.js"></script>
<script src="~/js/todolist.js"></script>